body {
  width: 60%;
  margin-left: 25%;
}
div {
  width: 70%;
  margin-left: 25%;
  border: 1px solid black;
}
table {
  text-align: left;
}
td {
  padding: 15px;
}
.button {
  text-align: center;
}
.button input {
  width: 50%;
  height: 30px;
}
